@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */

:root{
  --backgroundColor1: #1ba8e9;
  --backgroundColor2: #1619b9;
  --backgroundColor3: #800f86;
  --backgroundColor4: #ff057c;

  --backgroundColor1: #339194;
  --backgroundColor2: #fb6b41;
  --backgroundColor3: #f10c49;
  --backgroundColor4: #a70267;

  --backgroundColor1: #000706;
  --backgroundColor2: #00272d;
  --backgroundColor3: #134647;
  --backgroundColor4: #0c7e7e;

  --fontColor: white;
}

body{
  margin: 0;
}

h1{
  font-family: 'Inria Sans', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 5px;

  color: var(--fontColor);
}

p{
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 1.35em;
  line-height: 1.25;
  text-align: justify;

  width: 90%;
  margin-left: 15px;

  color: var(--fontColor);
}

h2{
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
