.cachorro{
  box-sizing: border-box;

  width: 30vw;
  height: auto;

  max-width: 1300px;
  max-height: 815px;

  padding: 30px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 35px;
}

form{
  height: 10%;
  display: flex;
  flex-direction: column;

}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: none;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: rgba(255, 255, 255, 1);
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
  color: rgba(255, 255, 255, 1);
}

mat-form-field{
  color: white;


  margin: 10px;
  width: 70%;
  align-self: center;
}

input{
  color: white;
    padding: 5px;
}

input::placeholder{
  color:rgba(255, 255, 255, 0.5);
}

mat-label{
  height: 110%;
}

mat-error{
  padding-top: 3px;
  font-size: 12px;
}

.buttons{
  display: flex;
  justify-content: center;
}


.buttons button{

  transform: scale(1.0);
  width: 40%;
  height: 4rem;
  padding: 0;
  outline: inherit;
  cursor: pointer;

  border-radius: 35px;
  border: 1px white solid;

  color: white;
  font-family: 'Inria Sans';
  font-weight: 100;
  font-size: 16px;

  margin: 15px;

  transition: all 100ms;
}


.lined button{
  background-color: transparent;
}

.solid button{
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover{
  transform: scale(1.05);
}

hr{
  height: 1px;
  width: 90%;


  border: none;
  border-radius: 1px;
  background-color:rgba(255, 255, 255, 0.75);
}

h2{
  align-self: center;
  font-weight: 400;
}

:host ::ng-deep .mat-form-field-label {
  color: rgb(151, 15, 15);
}
