<div class="Container">
  <div class="Header"></div>
  <hr>
  <div class="InnerContent">
    <div class="Image">
      <img src="https://picsum.photos/500/300">
    </div>
    <div class="Text">
      <h1>Lorem Ipsum</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, ab explicabo facere quia numquam aspernatur, reprehenderit repellendus animi  quos sunt non iste nesciunt obcaecati iusto beatae doloremque consectetur odit ullam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, ab explicabo facere quia numquam aspernatur, reprehenderit repellendus animi  quos sunt non iste nesciunt obcaecati iusto beatae doloremque consectetur odit ullam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, ab explicabo facere quia numquam aspernatur, reprehenderit repellendus animi  quos sunt non iste nesciunt obcaecati iusto beatae doloremque consectetur odit ullam.
      </p>
    </div>
  </div>
</div>
