<div class="Container">
  <div class="Header">
    <app-header></app-header>
  </div>
  <hr>
  <div class="InnerContent">
    <div class="Image">
      <img src='../../assets/images/MindNote.png'>
    </div>
    <div class="Text">
      <h1>Olá! Bem vindo : )</h1>
      <p>
        MindNote é um aplicativo de notas mentais projetado para ajudar os usuários a registrar, organizar e acessar facilmente seus pensamentos e ideias. Ele oferece recursos como criação de notas, categorização, busca e sincronização com dispositivos móveis. O MindNote permite que os usuários mantenham suas notas privadas com senha ou compartilhem com outras pessoas. Além disso, o aplicativo oferece opções de personalização de layout e temas. Com o MindNote, os usuários podem manter suas ideias e projetos organizados e acessíveis, onde quer que estejam.
      </p>
    </div>
  </div>
  <div class="InnerContent">
  <app-styled-button [Text]="'Experimentar agora'" [RouterLink]="'Teste'" [customStyle]="'solid'"></app-styled-button>
  <app-styled-button [Text]="'Saiba mais'" [RouterLink]="'Teste2'" [customStyle]="'lined'"></app-styled-button>
  </div>
</div>
