.filter-btn {
  width: 6rem;
  margin: 0 1rem 0 1rem;
  border-radius: 50px;
}

mat-card-content p{
  color: black;
  flex-wrap: wrap;
}

.NewCard button{
  width: 120px;
  height: 60px;
  padding: 0;
  outline: inherit;
  cursor: pointer;

  border-radius: 35px;
  border: 1px white solid;

  color: white;
  font-family: 'Inria Sans';
  font-weight: 100;
  font-size: 16px;

  margin: 15px;


  background: rgba(255, 255, 255, 0.25);
}

.data{
  position: absolute;
  font-size: 8px;
  right: -30px;
  top: 5px;
  margin: 0;
  width: 100px;

  font-style: italic;
  color: lightslategrey;
}

.desc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.desc p{
  word-wrap: break-word;
}

mat-icon {
  margin: 0;
}

